.mainnotes {
  margin: 0;
  padding: 0 2rem;
  height: 85%;
  font-family: 'Open Sans', sans-serif;
}

.light .total-notes {
  background-color: white;
}

.dark .total-notes {
  background-color: black;
}

.total-notes {
  overflow-y: scroll;

}

.dark .note {
  background-image: url("../../../public/svg/darknote.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0;
  margin-left: 2rem;
  font-family: 'Open Sans', sans-serif;

  font-weight: 900;
  margin-top: 2rem;
  font-size: 3rem;
  font-style: normal;
  min-width: 250px;
  min-height: 201px;
  position: relative;

  // box-shadow: 0px 2px 0px 0px gray;

  padding: 0 1%;
}

.light .note {
  background-image: url("../../../public/svg/notes.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0;
  margin-left: 2rem;
  font-family: 'Open Sans', sans-serif;

  font-weight: 600;
  margin-top: 2rem;
  font-size: 3rem;
  font-style: normal;
  min-width: 250px;
  min-height: 201px;
  position: relative;



  // box-shadow: 0px 2px 0px 0px gray;

  padding: 0 1%;
}

.lightnote {
  color: black;
}

.darknote {
  color: #ffffff;
}

.light .notetext {
  margin-left: 6%;
  margin-top: 0%;
  width: 88%;
  padding-top: 15%;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}

.dark .notetext {
  margin-left: 6%;
  margin-top: 0%;
  width: 88%;
  padding-top: 15%;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  color: white;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.darknotetext {
  border-top: 2px solid rgb(255, 255, 255, 0.2);
}

.lightnotetext {
  border-top: 2px solid rgb(0, 0, 0, 0.1);
}

// .darknotesfooter {
// }
// .lightnotesfooter {
// }
.footerpara {
  margin-left: 6%;
  width: fit-content;
  text-align: justify;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
  color: #7496b8;
}

.darknotesfooter {
  position: absolute;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;

  width: 90%;
}

.text-area {
  height: 60%;
}

.deletenote {
  position: relative;
  left: 82%;
  font-family: 'Open Sans', sans-serif;
  height: 60%;
  width: 9%;
  transform: translateY(-85%);
}



.footerdiv ul {
  height: fit-content;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.footerdiv {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
}

.footer ul li {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;
  margin: 0.3rem 0;
  font-family: 'Open Sans', sans-serif;
  margin-left: 1.2rem;
}

.right-footer {
  justify-content: flex-end;
  margin-right: 0;
  margin-left: 3rem;
  width: 20%;
  font-family: 'Open Sans', sans-serif;
  li {
    width: 50%;
    font-family: 'Open Sans', sans-serif;
  }
}

.left-footer {
  margin-left: 3rem;
  font-family: 'Open Sans', sans-serif;
}

.local-file-div {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;

  .button-file {
    cursor: pointer;
    width: fit-content;
    background: inherit;
    border: 1px dashed black;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 10px #f1f8fe;
    margin-top: 35px;
    /* padding: 15px; */
    padding: 1.5% 5%;
    margin-top: 2%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1%;
    /* font-size: 1rem; */
    color: #7496b8;
    min-height: 85px;

  }

  //  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.light .local-file-para {
  margin-left: 10px;
  align-self: center;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.dark .local-file-para {
  margin-left: 10px;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  color: white
}

.center-inp {
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  display: none;
}

.notes-center {
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  margin-left: 8px;
}

.dark .newnote {
  background-image: url("../../../public/svg/createdark.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0;
  margin-left: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-top: 2rem;
  font-size: 3rem;
  font-style: normal;
  min-width: 250px;
  min-height: 201px;
  // box-shadow: 0px 2px 0px 0px gray;
  padding: 0 1%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.light .newnote {
  background-image: url("../../../public/svg/createlight.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0;
  margin-left: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-top: 2rem;
  font-size: 3rem;
  font-style: normal;
  min-width: 250px;
  min-height: 201px;
  // box-shadow: 0px 2px 0px 0px gray;
  padding: 0 1%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.white {
  color: white
}

.cursor {
  cursor: pointer;
}