textarea {
  scrollbar-color: #fe8b2e inherit;
  border-radius: 0px;

  -webkit-scrollbar-track {
    background: inherit;
  }

  font-family: 'Inter',
  sans-serif;

  /* Handle */
  -webkit-scrollbar-thumb {
    background: #fe8b2e;
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
textarea.form-control:active {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  -webkit-scrollbar: none;
}

.light {
  textarea.form-control {
    border-radius: 0px;
    background-color: white !important;
  }
}

.dark {
  textarea.form-control {
    border-radius: 0px;
    background-color: black !important;
  }
}

textarea.responsiveheight {
  height: 30%;
  max-height: 30%;
  padding: 3rem;
  border: transparent;
  outline: 0;
  font-weight: 200;
  font-size: 2rem;
  scrollbar-color: #fa8b2e;
  -ms-thumb: none;
}

.form-control:active {
  border: transparent;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: transparent;
  outline: 0px;
  box-shadow: 0 0 0 0 transparent;
}


textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(233, 123, 33, 0.897);
}

textarea::-webkit-scrollbar-thumb {
  background-color: inherit;
  outline: 1px solid #fa8b2e;
}