.exportmodal {
  input[type="radio"] {
    transform: scale(3);
  }
  .export-butt{
    border-radius: 15px;
                color : white;
                background-color : rgb(250, 139, 46);
  
                transition: none 0s ease 0s;
                width: 50%;
                justify-self: center;
                font-size: 40px;
                padding: 5% 0;
                font-weight: lighter;
                margin: 5% 0;
  }
}
