.modalLightpass {
  color: black !important;
  background: white !important;
  border-color: transparent;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bordeRv {
  border-radius: 1rem;
  backdrop-filter: blur(1px);

  .modal-content {
    background-color: #0000;
    border: none;

    .modal-header {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

      height: 6 vh;
      margin: 0;
      font-family: 'Open Sans', sans-serif;

      font-style: normal;
      font-weight: 600;
      font-size: 22px;
    }

    .modal-footer {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .form-control:focus {
      color: #212529;
      background-color: #fff;

      outline: 0;
      box-shadow: none;
    }
  }
}

.LoginDarkHeader {
  background-color: #48494b !important;
  color: white !important;
  border-color: transparent;
}

.LoginLightHeader {
  color: black !important;
  background: #ecf5ff !important;
  border-color: transparent;
}

.centering {
  margin: 0 auto;
  padding: auto 0;
}

.inputiconleft {
  position: absolute;
  top: 50%;
  left: 15%;

  transform: translateY(-50%);
}

.resetbut {
  border-radius: 10px;

  border-color: transparent;
  background-color: transparent;
  height: 3vh;
  transition: none;
  width: 50%;
  justify-self: center;
  margin: 0 26%;
  font-size: 16px;
  font-weight: lighter;
}

.googlebut {
  border-radius: 10px;
  padding-left: 6%;
  border: 1px solid #dcedff;
  background-color: transparent;
  height: 3rem;
  transition: none;
  width: 55%;
  justify-self: center;
  margin: 0 22%;
  font-size: 16px;
  font-weight: lighter;
  position: relative;
}

.inputiconleftg {
  position: absolute;
  top: 50%;
  left: 8%;

  transform: translateY(-50%);
}

p {
  font-size: 14px;
  width: 100%;
  font-weight: lighter;
  margin-top: 1rem;
  text-align: center;
}

.loginerror {
  width: 100%;
  color: #fa8b2e;
  font-weight: lighter;
  text-align: center;
}

.nonselect {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.inputdiv {
  border-radius: 10px;
  padding-left: 10%;
  border-color: #7496B8;

  transition: none;
  width: 80%;
  justify-self: center;
  margin: 0 auto;
  font-size: 1.2rem;
}

.eye-icon-pass {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
}

.login-butt {
  border-radius: 10px;
  color: white;
  border-color: none;
  background-color: #FA8B2E;
  height: 3rem;
  transition: none;
  width: 80%;
  justify-self: center;
  margin: 0 10%;
  font-size: 20px;
  font-weight: lighter;
}

.or-div {
  font-size: 14px;
  width: 100%;
  font-weight: lighter;
  color: #666666;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.sign-up-butt {
  color: #FA8B2E;
  padding: 0;
  margin: 0;
  width: fit-content;
}