@media (max-width:680px) {
  textarea.form-control {
    height: 62%;
    max-height: 63%;
    font-size: 100px;
    border: none;
    padding: 48px
  }


  .total-notes {
    height: 64%
  }
}

@media(min-width:700px) {
  textarea.form-control {
    height: 78%;
    max-height: 78%;
    font-size: 3rem;
    padding: 48px;
    border: none;
    font-weight: 500;
  }

  .Maindiv {
    width: 100%;
  }



  .total-notes {
    height: 81%
  }
}

@media(max-width:1000px) {
  textarea.form-control {
    height: 60%;
    max-height: 60%;
    padding: 3rem;
    border: transparent;
    outline: 0;
    font-weight: 200;
    border: none;
    font-size: 2rem;
    scrollbar-color: #fa8b2e;
    -ms-thumb: none;
    .total-notes {
      height: 78%
    }
  }
}
@media(min-width:1001px) {
  textarea.form-control {
    height: 70%;
    max-height: 70%;
    padding: 3rem;
    border: transparent;
    outline: 0;
    font-weight: 200;
    border: none;
    font-size: 2rem;
    scrollbar-color: #fa8b2e;
    -ms-thumb: none;
    .total-notes {
      height: 78%
    }
  }
}

  
  .Maindiv {
    width: 85%;
    padding: 0;
    margin: 0;
    max-width: 1920px;
    // max-height: 1440px;
    height: 80%;
 


    @media screen {}
  }



/* Handle */

h1 {
  color: blue;
  font-family: "open sans";
}


.dark textarea {
  background-color: black !important;
  color: white !important;
}

.modalDark {
  background-color: #303133 !important;
  color: white !important;
  border-color: transparent;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.modalLight {
  color: black !important;
  background: white !important;
  border-color: transparent;
  // border-bottom-right-radius: 10px;
  // border-bottom-left-radius: 10px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;

  -webkit-scrollbar-track {
    background: inherit;
  }

  scrollbar-color: #fe8b2e inherit;
  ;

  /* Handle */
  -webkit-scrollbar-thumb {
    background: #fe8b2e;
  }
}


input[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #fa8b2e;
}

input[type="radio"]:checked::before {
  content: '';
  width: 65%;
  height: 65%;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fa8b2e;
}

.form-control:disabled {
  background-color: inherit;
}

.font-face-captcha {
  font-family: "GoldmanBold";
}

.light {
  background-color: #F9FBFD;

  hr {
    color: rgb(0, 0, 0, 0.14);
    margin: 0;
  }
}

.dark {
  background-color: #303133;

  hr {
    color: white;
    margin: 0;
  }
}