@media (max-width:680px) {
  textarea.form-control {
    height: 62%;
    max-height: 63%;
    font-size: 36px;
    border: none;
    padding: 48px;
    font-family: 'Open Sans', sans-serif;
  }

  .light .inputdiv {
    height: 75px;
  }

  .dark .inputdiv {
    height: 75px;
  }

  .notification {
    display: none;
  }

  .total-notes {
    height: 64%
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    width: 510px;
    margin: 1.75rem auto;
  }

  .light .inputdiv {
    height: 75px;
  }



  .dark .inputdiv {
    height: 75px;
  }
}

@media(min-width:700px) {
  .modal-dialog {
    width: 490px;
    height: 510px;
    margin: 1.75rem auto;
  }

  textarea.form-control {
    height: 78%;
    max-height: 78%;
    font-size: 30px;
    padding: 48px;
    border: none;
    font-weight: 200;
  }

  .light .inputdiv {
    height: 50px;
  }

  .dark .inputdiv {
    height: 50px;
  }

  .notification {
    display: none;
  }

  .Maindiv {
    width: 100%;
  }

  .total-notes {
    height: 81%
  }
}

@media(min-width:1000px) {
  textarea.form-control {
    height: 60%;
    max-height: 60%;
    padding: 3rem;
    border: transparent;
    outline: 0;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
    border: none;
    font-size: 30px;
    scrollbar-color: #fa8b2e;
    -ms-thumb: none;



    .total-notes {
      height: 78%
    }
  }

  .notification {
    display: flex;
  }
}

@media(min-width:1200px) {
  textarea.form-control {
    height: 70%;
    max-height: 70%;
    padding: 3rem;
    border: transparent;
    outline: 0;
    font-weight: 200;
    border: none;
    font-size: 2rem;
    scrollbar-color: #fa8b2e;
    -ms-thumb: none;

    .notification {
      display: flex;
    }

    .total-notes {
      height: 78%
    }
  }
}


.Maindiv {
  width: 85%;
  padding: 0;
  margin: 0;
  max-width: 1920px;
  // max-height: 1440px;
  height: 80%;




}


/* Handle */
.notification {
  width: 100%;
  max-width: 100%;

  .toast-body {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #677D94;
    height: 60px;
    font-size: 18px;
    color: white;
    justify-content: space-evenly;
    align-items: center;

    .toastbutton {
      display: flex;
      height: 100%;
      width: fit-content;
      font-family: 'Open Sans', sans-serif;
    }
  }

  .appbutt {
    width: 275px;
    background-color: #000000;
    color: #FA8B2E;
    font-size: 16px;
    height: 40px;
    border-radius: 10px;
    margin-left: 20%;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
  }

  img {
    margin-left: 15px;
    cursor: pointer;
  }
}


h1 {
  color: blue;
  font-family: 'Open Sans', sans-serif;
}


.dark textarea {
  background-color: black !important;
  color: white !important;
}

.modalDark {
  background-color: #303133 !important;
  color: white !important;
  border-color: transparent;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.modalLight {
  color: black !important;
  background: white !important;
  border-color: transparent;
  // border-bottom-right-radius: 10px;
  // border-bottom-left-radius: 10px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  font-family: 'Open Sans', sans-serif;

  -webkit-scrollbar-track {
    background: inherit;
  }

  scrollbar-color: #fe8b2e inherit;
  ;

  /* Handle */
  -webkit-scrollbar-thumb {
    background: #fe8b2e;
  }
}


input[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  border: 1px solid #fa8b2e;
}

input[type="radio"]:checked::before {
  content: '';
  width: 65%;
  height: 65%;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  font-family: 'Open Sans', sans-serif;
  transform: translate(-50%, -50%);
  background-color: #fa8b2e;
}

.form-control:disabled {
  background-color: inherit;
}

.font-face-captcha {
  font-family: "GoldmanBold";
}

.light {
  background-color: #F9FBFD;

  hr {
    color: rgb(0, 0, 0, 0.14);
    margin: 0;
  }
}

.dark {
  background-color: #303133;

  hr {
    color: white;
    margin: 0;
  }
}