.light nav {
  height: 97px;
  background-color: #fff !important;

  hr {
    color: white
  }
}

.dark nav {
  height: 99px;
  background-color: black !important;

}

.moon {
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
}

button {
  height: 50%;
  width: 6rem;
  align-self: center;
  margin: 0;
  border: transparent;
  background-color: transparent;
  padding: 0;
}

ul {
  padding: auto auto;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

ul li {
  display: flex;
  height: fit-content;
  height: 100%;
  margin: 1rem;
}

.iconnav {
  color: #7496b8;
  align-self: center;
  width: 22px;
  height: 22px;
}

.color-nav {
  color: #7496b8;
}

.light {
  .main-header {
    font-size: xx-large;
    font-family: 'Jomolhari', serif;
    font-weight: 400;
    width: 40%;
    text-align: center;
    color: black;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.dark {
  .main-header {
    font-size: xx-large;
    font-family: 'Jomolhari', serif;
    font-weight: 400;
    width: 40%;
    text-align: center;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.W-head {
  color: #fa8b2e !important;
}

.buttonicon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.1rem;
}

.shareicon {
  color: #fa8b2e;
}

.export {
  background-color: #fa8b2e;
  border-color: transparent;
  border-radius: 0.5rem;
  color: white;
  width: 7rem;
  height: 50%;
}

.sharetool {
  max-height: 25vh;
  height: fit-content;
  max-width: 275px;
  width: 25%;

  .popover-body {
    padding: 2%;
    height: 100%;
  }
}

.share {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0.5rem;
  color: #fa8b2e;
}

.right-icons {
  margin-left: 0.5rem;
  margin-right: 1.2rem;
}

.linktool {
  display: flex;
  overflow: block;
  flex-wrap: wrap;
  word-break: break-all;
  max-height: fit-content;
  width: 100%;
  justify-content: right;

  p {
    overflow-wrap: break-word;
    width: 65%;
    text-align: start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 0.5em;
  }
}

.exporttool {
  display: flex;
  width: 8rem;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: lighter;
}

.tooltiplight {
  color: black;
  border-radius: 10px;
}

.tooltipdark {
  background-color: black;
  color: #afafaf;
  border-color: #2a3a4a;
  border-radius: 10px;
}

.popover-arrow::after {
  background-color: transparent;
}

.dark .bs-popover-bottom>.popover-arrow::after {
  top: 1px;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: black;
}

.dark .bs-popover-bottom>.popover-arrow::before {
  top: 0;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: #2a3a4a;
}

.navresicon {
  padding: 0;
  margin: 0;
  background-color: inherit;
  width: fit-content;
}

.buttonsmallnav {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0.5rem;
  color: #fa8b2e;
}

.iconnavsmall {
  color: #7496b8;
  align-self: center;
  width: 35px;
  height: 35px;
  z-index: 1;
}

.smalltooltip {
  padding: 0 1.5rem;
  margin: 0;
}

.smallnavbutticon {
  font-size: 30px;
}

.files {
  display: none;
}


.change:hover {
  cursor: pointer
}

.navbar-tooltip {
  width: fit-content;
  background-color: inherit;
  color: inherit;
}

.nav-right-margin {
  margin-right: 2rem;
}

.tooltip-radius {
  border-radius: 10px;
}

.export-tooltip-div {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tenpad {
  padding-left: 10%;
}

.sevenpad {
  padding-left: 7%;
}

.export-tooltip-div1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.light .export {
  color: white
}

.dark .export {
  color: black;
}

.shareform {
  display: flex;
  justify-content: end;
  align-items: center;
}

.viewbutt {
  width: fit-content;
  padding-left: 1%;
  padding-right: 0.5em;
}

.share-edit-butt {
  width: fit-content;
  padding-right: 0.5em;
  padding-left: 1%;
}

.share-copy-butt {
  font-weight: 300;
  color: #7496B8
}

.pr1 {
  padding-right: 1%;
}

.responsive-nav-height {
  height: 8%;
}

.font50 {
  font-size: 50px;
}

.font60 {
  font-size: 60px;
}

.mr2 {
  margin-right: 2rem;
}

.light .iconnavsmall {
  color: black
}

.dark .iconnavsmall {
  color: white
}

.light .smallnavbutticon {
  color: black
}

.dark .smallnavbutticon {
  color: white
}

.backlogo {
  margin-left: 1px;
}