.items {
  text-align: center;
  width: 100%;
  height: fit-content;
}

.modalDarkpass {
  background-color: #303133 !important;
  color: white !important;
  border-color: transparent;
}

.title {
  font-weight: "400";
  font: 1.5em sans-serif;
}

.bordeRpass {
  border-radius: 1rem;
  backdrop-filter: blur(1px);
  height: 100%;

  .modal-content {
    background-color: #0000;
    border: none;
    font-family: 'Open Sans', sans-serif;

    .modal-header {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      padding-top: 2rem;
      height: auto;
      font-family: 'Open Sans', sans-serif;
    }

    .modal-footer {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      font-family: 'Open Sans', sans-serif;
    }

    .form-control:focus {
      color: #212529;
      background-color: #fff;

      outline: 0;
      box-shadow: none;
    }
  }
}

.pb0 {
  padding-bottom: 0;
  ;
}

.relative {
  position: relative;
}

.reset-password-div {
  border-radius: 10px;
  padding-left: 1.5rem;
  border-color: #7496B8;
  transition: none;
  width: 60%;
  justify-self: center;
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
}

.reset-pass-butt {
  width: fit-content;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-left: 25%;
  background-color: #FA8B2E;
  font-weight: light;
  font-family: 'Open Sans', sans-serif;
}

.reset-pass-eye-icon {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.reset-pass-cancel-butt {
  width: fit-content;
  height: 40px;
  border-radius: 10px;
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: light;
}
