.items {
  text-align: center;
  width: 100%;
  height: fit-content;
}
.modalDarkpass {
  background-color: #303133 !important;
  color: white !important;
  border-color: transparent;
}
.title {
  font-weight: "400";
  font: 1.5em sans-serif;
}
.bordeRpass {
  border-radius: 1rem;
  backdrop-filter: blur(1px);

  .modal-content {
    background-color: #0000;
    border: none;
    .modal-header {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      padding-top: 2rem;
      height: auto;
    }
    .modal-footer {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .form-control:focus {
      color: #212529;
      background-color: #fff;

      outline: 0;
      box-shadow: none;
    }
  }
}
