@media  (max-width: 980px) {
  textarea.form-control {
    height: 50vh;
    font-size: 2rem;
  }
}

  textarea.form-control {
    height: 78vh;
    padding: 3rem;
    border: transparent;
    outline: 0;
    font-weight: 200;
    font-size: 2rem;
  }

.form-control:active {
  border: transparent;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: transparent;
  outline: 0px;
  box-shadow: 0 0 0 0 transparent;
}
.light .footer {
  color: #7496b8;
  font-family: sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 200;
  height: fit-content;
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  bottom: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
}
.dark .footer {
  color: #7496b8;
  font-family: sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 200;
  height: fit-content;
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  bottom: 1rem;
  border-top: 1px solid rgb(255, 255, 255, 0.14);
}
.light .footer {
  color: #7496b8;
  font-family: sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 200;
  height: fit-content;
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  bottom: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
}

.footerdiv ul {
  height: fit-content;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.footerdiv {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
}
.footer ul li {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;
  margin: 0.3rem 0;
  margin-left: 1.2rem;
}
.right-footer {
  justify-content: end;
  margin-right: 0;
  margin-left: 3rem;
  width: 20%;
  li {
    width: 50%;
  }
}
.left-footer {
  margin-left: 3rem;
}
textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(233, 123, 33, 0.897);
}

textarea::-webkit-scrollbar-thumb {
  background-color: inherit;
  outline: 1px solid #fa8b2e;
}
