.mainnotes {
  margin: 0;
  padding: 0 2rem;
  height: 75%;
  overflow-y: scroll;
}
.dark .note {
  background-image: url("../svg/darknote.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0;
  margin-left: 2rem;
  font-family: "sans-serif";
  font-weight: 900;
  margin-top: 2rem;
  font-size: 3rem;
  font-style: normal;
 min-width: 250px;
  // box-shadow: 0px 2px 0px 0px gray;

  padding: 0 1%;
}
.light .note {
  background-image: url("../svg/notes.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0;
  margin-left: 2rem;
  font-family: "sans-serif";
  font-weight: 900;
  margin-top: 2rem;
  font-size: 3rem;
  font-style: normal;
  min-width:250px;

  
  
  // box-shadow: 0px 2px 0px 0px gray;

  padding: 0 1%;
}
.lightnote {
  color: black;
}
.darknote {
  color: #ffffff;
}
.light .notetext {
  margin-left: 6%;
  margin-top: 0%;
  width: 88%;
  padding-top: 15%;
  text-align: justify;
  word-wrap: wrap;
  padding-bottom: 10%;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  /* text-overflow: clip; */
  overflow-wrap: break-word;
  overflow: hidden;
  color: black;
  
}
.dark .notetext {
  margin-left: 6%;
  margin-top: 0%;
  width: 88%;
  padding-top: 15%;
  text-align: justify;
  word-wrap: wrap;
  padding-bottom: 10%;
  color: white;

  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  /* text-overflow: clip; */
  overflow-wrap: break-word;
  overflow: hidden;
}
.darknotetext {
  border-top: 2px solid rgb(255, 255, 255, 0.2);
}
.lightnotetext {
  border-top: 2px solid rgb(0, 0, 0, 0.1);
}
// .darknotesfooter {
// }
// .lightnotesfooter {
// }
.footerpara {
  margin-left: 6%;
  width: fit-content;
  text-align: justify;
  margin-bottom: 0;
  margin-top: 0;
  color: #7496b8;
}
.darknotesfooter {
  position: relative;
  position: relative;
  /* bottom: 0%; */
  padding-top: 1%;
  top: 23%;
}
.deletenote {
  position: relative;
  left: 82%;
  height: 60%;
  width: 9%;
  transform: translateY(-97%);
}

.light .footer {
  color: #7496b8;
  font-family: sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 200;
  height: fit-content;
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  bottom: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
}
.dark .footer {
  color: #7496b8;
  font-family: sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 200;
  height: fit-content;
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  bottom: 1rem;
  border-top: 1px solid rgb(255, 255, 255, 0.14);
}
.light .footer {
  color: #7496b8;
  font-family: sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 200;
  height: fit-content;
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  bottom: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
}

.footerdiv ul {
  height: fit-content;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.footerdiv {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
}
.footer ul li {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;
  margin: 0.3rem 0;
  margin-left: 1.2rem;
}
.right-footer {
  justify-content: end;
  margin-right: 0;
  margin-left: 3rem;
  width: 20%;
  li {
    width: 50%;
  }
}
.left-footer {
  margin-left: 3rem;
} .local-file-div{
  display:flex;
  width:100%;
  justify-content: center;
  .button-file{
    width: fit-content;
    background: inherit;
    border: 1px dashed black;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 10px #f1f8fe;
    margin-top: 35px;
    /* padding: 15px; */
    padding: 1.5% 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    /* font-size: 1rem; */
    color: #7496b8;
    min-height: 85px;

}
//  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }
